* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  -webkit-box-align: center;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 64px;
  }
}

.container {
  width: 640px;
  max-width: 90%;
  margin: 96px 0;
}
@media screen and (max-width: 900px) {
  .container {
    margin: 0;
  }
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 240px;
  top: 128px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  margin-bottom: 64px;
}

.title-link {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 640px;
    max-width: 90%;
    position: static;
    align-items: center;
    padding: 0;
    top: 0;
  }

  .title {
    font-size: 56px;
    text-align: left;
    text-align: center;
  }
}

.date-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date-day {
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
}

.date-month-year {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2px;
  font-size: 24px;
  line-height: 1;
}

.date-year {
  font-size: 24px;
  line-height: 1;
}

.post {
  border-top: solid 0.025rem #9e9e9e9e;
  padding: 24px 0;
}

.post-tag {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  background-color: #0076ff;
  border-radius: 25px;
  margin-bottom: 8px;
  padding: 4px 8px;
}

.post-keywords {
  display: inline-block;
  color: #828282;
  margin: 8px 8px 0 0;
  font-size: 14px;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 25px;
  cursor: pointer;
}

.post-actions-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.post-actions-group:active {
  opacity: 75%;
}

.post-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #828282;
  margin-top: 16px;
}

form {
  display: flex;
  flex: 1;
}

.input-group {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 0.025rem #9e9e9e9e;
  border-radius: 8px;
  white-space: nowrap;
  padding: 2px 16px 2px 2px;
}

input[type="text"] {
  display: inline-block;
  flex: 1;
  padding: 12px 16px;
  outline: none;
  border: none;
  font-size: 16px;
}

.input-status {
  font-size: 14px;
  color: #828282;
}

a {
  text-decoration: underline;
  color: #0076ff;
  font-weight: bold;
}
a:active {
  opacity: 75%;
}

p > img {
  max-width: 100%;
}

.Toastify__toast {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  border-radius: 8px;
}

.react-calendar {
  /* border-top: solid 0.025rem #9e9e9e9e; */
  /* padding-top: 24px; */
  /* margin-top: 24px; */
  width: 240px;
}

@media screen and (max-width: 900px) {
  .react-calendar {
    margin: 0;
    padding: 0;
  }
}

.react-calendar__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.react-calendar__navigation > button {
  font-size: 14px;
  border: none;
  background: none;
  padding: 8px 16px;
  cursor: pointer;
}
.react-calendar__navigation > button:hover {
  background-color: #f5f5f5;
  border-radius: 25px;
}

.react-calendar__month-view__weekdays {
  margin-top: 8px;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days,
.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  margin-top: 8px;
}

.react-calendar__month-view__days > button,
.react-calendar__year-view__months > button,
.react-calendar__decade-view__years > button,
.react-calendar__century-view__decades > button {
  font-size: 14px;
  font-family: inherit;
  font-weight: normal;
  border: none;
  border-radius: 25px;
  background: none;
  padding: 8px 4px;
  margin: 0 !important;
  cursor: pointer;
}
.react-calendar__month-view__days > button:hover:not([disabled]),
.react-calendar__year-view__months > button:hover:not([disabled]),
.react-calendar__decade-view__years > button:hover:not([disabled]),
.react-calendar__century-view__decades > button:hover:not([disabled]) {
  background-color: #f5f5f5;
}
.react-calendar__month-view__days > button:disabled,
.react-calendar__year-view__months > button:disabled,
.react-calendar__decade-view__years > button:disabled,
.react-calendar__century-view__decades > button:disabled {
  color: #828282;
  cursor: default !important;
}

.react-calendar__tile--now {
  color: #0076ff !important;
  font-weight: bold !important;
}

.react-calendar__tile--active {
  background-color: #0076ff !important;
  color: #ffffff !important;
  font-weight: bold !important;
}
